{% load static %}
{% load mining_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <title>Advert detail</title>
</head>
<body>
<div id="content">
    <h1>{{ advert.organization }}</h1>
    <p>
    <h2>{{ advert.post }}</h2></p>
    <p>{{ advert.text|markdown }}</p>
    <p><u>Обещанный оклад:</u> {{ advert.salary }}</p>
    <p class="date"><i>Опубликовано: {{ advert.pub_date }}</i></p>
    <u>Действия:</u>
    {% for action in actions %}
        <div class="comment">
            <p class="info">{{ action }}</p>
        </div>
    {% empty %}
        <p>Не было активности</p>
    {% endfor %}
    {% if new_action %}
        <h3>Действие добавлено.</h3>
        <p>
            <a href="{% url 'mining:advert_list' %}">К списку задач</a>
        </p>
    {% else %}
        <b>Новое действие:</b>
        <form method="post">
            {{ action_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Добавить"></p>
        </form>
        <br>
        <p>
            <a href="{% url 'mining:advert_list' %}">К списку задач</a>
        </p>
    {% endif %}


</div>

</body>
</html>
