{% load static %}
{% load mining_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <title>Adverts</title>
</head>
<body>
<h1>Активные объявления</h1>
{% for advert in adverts %}
    <p><a href="{{ advert.get_absolute_url }}"> <b>{{ advert.organization }}</b> {{ advert.post }}</a></p>
{% endfor %}
</body>
</html>
